body {
    margin: 30px;
    
}

header {
    box-shadow: 0 4px 0 0px black;
    position: fixed;
    width: 96%;
    top: 10px;
    
}

header > nav {
    position: absolute;
    right: 0px;
    top: 80px;
}

header > nav > ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li > a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header > nav > ul > li > a:hover {
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

main {
    margin-top: 250px; 
}
